<div class="d-flex justify-content-center align-items-center flex-grow-1">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Ładowanie...</span>
    </div>
</div>