@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-md-4 px-2 pb-4 h-100 d-flex flex-column">
            @Body
        </div>
    </div>
</div>
